**/*.a
**/*.la
**/*.lo
**/*.o
**/*.so
**/*~
**/.deps
**/.libs
**/Makefile
**/Makefile.in
/INSTALL
/aclocal.m4
/autom4te.cache
/build-aux
/config.h
/config.h.in
/config.log
/config.status
/config.status.lineno
/configure
/gl
/gnulib
/libtool
/stamp-h*
lib/libpipeline.pc
tests/*.log
tests/*.trs
tests/argstr
tests/basic
tests/exec
tests/inspect
tests/pump
tests/read
tests/redirect
