**/*.a
**/*.la
**/*.lo
**/*.o
**/*.so
**/*~
**/.libs
**/Makefile
**/Makefile.in
/ABOUT-NLS
/aclocal.m4
/autom4te.cache
/build-aux
/config.h
/config.h.in
/config.log
/config.status
/config.status.lineno
/configure
/gl
/gnulib
/libtool
/stamp-h*
docs/INSTALL.autoconf
include/*.h
init/systemd/man-db.conf
init/systemd/man-db.service
lib/.deps
lib/getopt.h
libdb/.deps
man/replace.sin
man/replace.sed
man/man1/*.1
man/man5/*.5
man/man8/*.8
man/*/replace.sed
man/*/man1/*.1
man/*/man5/*.5
man/*/man8/*.8
man/**/*.log
man/**/*.trs
man/da/man1
man/da/man5
man/da/man8
man/de/man1
man/de/man5
man/de/man8
man/es/man1
man/es/man5
man/es/man8
man/fr/man1
man/fr/man5
man/fr/man8
man/id/man1
man/id/man5
man/id/man8
man/ja/man1
man/ja/man5
man/ja/man8
man/nl/man1
man/nl/man5
man/nl/man8
man/pl/man1
man/pl/man5
man/pl/man8
man/pt/man1
man/pt/man5
man/pt/man8
man/pt_BR/man1
man/pt_BR/man5
man/pt_BR/man8
man/ru/man1
man/ru/man5
man/ru/man8
man/sr/man1
man/sr/man5
man/sr/man8
man/sv/man1
man/sv/man5
man/sv/man8
man/tr/man1
man/tr/man5
man/tr/man8
man/zh_CN/man1
man/zh_CN/man5
man/zh_CN/man8
manual/man_db.cat
manual/man_db.dvi
manual/man_db.html
manual/man_db.pp
manual/man_db.ps
manual/man_db.tps
manual/version
po/ChangeLog
po/Makefile.in.in
po/Makevars
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/messages.mo
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/stamp-po
po/*.gmo
src/.deps
src/accessdb
src/apropos
src/catman
src/globbing
src/lexgrog
src/lexgrog.c
src/man
src/man_db.conf
src/manconv
src/mandb
src/manpath
src/whatis
src/wrapper
src/zsoelim
src/zsoelim.c
src/tests/.deps
src/tests/*.log
src/tests/*.trs
src/tests/fspause
src/tests/tmp-*
